html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-image: url('./assets/vecteezy.jpg');
    background-position: center center;
    background-size: 2500px;
    background-repeat: no-repeat;
    margin-top: 10px;
}

/* #background {
    z-index: -2;
    height: 120vh;
    width: 120vw;
    position: absolute;
    
} */

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    
}

/* #pokerTable {
    z-index: -1;
    position:absolute;
    height: 90vh;

} */


h1 {
    position: relative;
    color: tan;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 5em;
    text-shadow: 2px 2px 2px white;
    
   
    
}

#table {
    display: flex;
    flex-direction: column;
    align-items: center;
   
   
}

.cardSet {
    margin: 10px;
    /* padding-top: 10px; */
}
.cards {
    height: 220px;
    width: 150px;
}

#buttons {
    display: flex;
    justify-content: center;
    padding-top: 60px;
   
}

/* #betting {
    display: flex;
    justify-content: center;
    padding-top: 20px;
} */

button {
    margin: 5px;
    padding: 10px;
    background-color: tan;
    color: navy;
    font-size: 2em;
    border-radius: 20px;
}

a {
   
    color: white;
}

#links {
    text-align: end;
}