@import 'config';




.cardSet {
    transition: ease .5s all;
    padding-bottom: 2rem;
}

.cards {
    @include cardStyle;

    &:hover {
        transform: scale(1.1);
        box-shadow: $cardShadowHover;
    }
}

@media screen and (max-width: 600px) {
    .cards {
        @include cardStyle;
        transform: scaleX(1.8);
    }
}