$dark: black;
$light: white;
$btn: rgba(0, 0, 0, 0.7);
$btnhover: rgba(0, 0, 0, 0.8);
$litUpShadow: lightgoldenrodyellow 0 0 20px;
$cardShadow: 0 0 7px 0 rgba(0, 0, 0, 0.8);


@mixin flexCenterCol { display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flexCenterRow { display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}