@import 'config';
@import 'cards'; 

#container {
    background: url(../../assets/vecteezy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    @include flexCenterCol;
    

    h1 {
        font-size: 6vh;
        color: $light;
        text-align: center;
        position: fixed;
        top: 5rem;
        text-shadow: $litUpShadow;
    }
}

#table {
    @include flexCenterCol;
    border-radius: 10px;
    padding-top: 2vh;
    width: 80vw;
    height: 50vh;
}

.cardSet {
    transition: ease .5s all;
    padding-bottom: 2rem;
}

#buttons {
    @include flexCenterRow;
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
    left: 0;
    background:$btn;
    border-radius: 10px 10px 0 0;

    button {
        width: 50%;
        height: 100%;
        border: none;
        background: none;
        color: $light;
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
        transition: ease 0.5s all;

        &:hover {
            background: $btnhover;
        }
    }
}

#scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow:  $litUpShadow;
    width: 25vw;
    height: 8vh;
    position: fixed;
    bottom: 18rem;
    right: 5rem;
    background-color: $light;
    h2 {
        font-size: 2vh;
        color: black;
        text-align: center;
    }
}

#links {
    position: fixed;
    top: 1rem;
    right: 1rem;
    a {
        color: $light;
        text-decoration: none;
    }
}

footer {
    color: $light;
    text-decoration: none;
    position: fixed;
    bottom: 1rem;
    left: 2rem;
}


