@import 'config';
@import 'cards'; 
@import 'buttons';

* {
    @include resetAndFont;
}

#container {
    background: $backgroundImage;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: $fullH;
    width: $fullW;
    @include flexCenterCol;
    

    h1 {
        font-size: 6vh;
        color: $light;
        text-align: center;
        position: fixed;
        top: 5rem;
        text-shadow: $litUpShadow;
    }
}

#table {
    @include flexCenterCol;
    border-radius: 10px;
    padding-top: 2vh;
    width: 80vw;
    height: 50vh;
}

#scoreboard {
    @include flexCenterCol;
    border-radius: 10px;
    box-shadow:  $litUpShadow;
    width: 25vw;
    height: 8vh;
    position: fixed;
    bottom: 15rem;
    right: 5rem;
    background-color: $light;
    
    h2 {
        font-size: 2vh;
        color: black;
        text-align: center;
    }
}

#links {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: .5rem;
    
    a {
        color: $light;
        text-decoration: none;
    }
}

footer {
    color: $light;
    text-decoration: none;
    position: fixed;
    bottom: 1rem;
    left: 2rem;
    font-size: .5rem;
}


// Mobile Styles

@media screen and (max-width: 600px) {
    #container {
        height: $fullH;
        width: $fullW;
        @include flexCenterCol;

        h1 {
            font-size: 6vh;
            color: $light;
            text-align: center;
            position: fixed;
            top: 2rem;
            text-shadow: $litUpShadow;
        }
    }
    
    #table {
        @include flexCenterCol;
        border-radius: 10px;
        padding-top: 2vh;
        width: 60vw;
        height: 30vh;
    }
    
    #scoreboard {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        border-radius: 10px;
        box-shadow:  $litUpShadow;
        width: 90vw;
        height: 4vh;
        position: fixed;
        bottom: 7rem;

        
        
    
        background-color: $light;
        
        h2 {
            font-size: 2vh;
            color: black;
            text-align: center;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    
    #links {
        position: fixed;
        top: 1rem;
        right: 1rem;
        
        a {
            color: $light;
            text-decoration: none;
        }
    }
    
    footer {
        color: $light;
        text-decoration: none;
        position: fixed;
        bottom: 1px;
        left: 2px;
    }
}